NEXT_PUBLIC_APP_NAME=InterviewIQ
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=https://interviewiq-backend-ecex.onrender.com
NEXT_PUBLIC_AI_INTERVIEW_URL=https://ai-interview.interviewiq.app
